body {
    margin: 20px; 
    color: #FFFFFF;
    background-color: #8150DE;
}

.colorpainel {
    color: #FFFFFF;
    background-color: #8150DE;
}

.colorjumbotron {
    color: #FFFFFF;
    background-color: #8150DE;
    text-align: center;
}

.footerpe {
    color: #FFFFFF;
    background-color: #8150DE;
}
